USE [EmployeeManagement]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 10/10/2024 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[AttendanceDate] [date] NOT NULL,
	[CheckInTime] [time](7) NULL,
	[CheckOutTime] [time](7) NULL,
	[HoursWorked]  AS (datediff(hour,[CheckInTime],[CheckOutTime])) PERSISTED,
	[IsLeave] [bit] NULL,
	[IsOvertime] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/10/2024 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 10/10/2024 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 10/10/2024 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[SalaryId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[BaseSalary] [decimal](18, 2) NOT NULL,
	[Allowance] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[Deduction] [decimal](18, 2) NULL,
	[TotalIncome]  AS ((([BaseSalary]+[Allowance])+[Bonus])-[Deduction]) PERSISTED,
	[PaymentDate] [datetime] NOT NULL,
	[Remarks] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalaryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/10/2024 3:37:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleId] [int] NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[DepartmentId] [int] NULL,
	[Position] [nvarchar](100) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ProfilePicture] [varbinary](max) NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Users__1788CC4C11025B83] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attendance] ON 

INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [AttendanceDate], [CheckInTime], [CheckOutTime], [IsLeave], [IsOvertime], [CreatedAt]) VALUES (1, 2, CAST(N'2024-10-01' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 0, 0, CAST(N'2024-10-05T05:27:07.797' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [AttendanceDate], [CheckInTime], [CheckOutTime], [IsLeave], [IsOvertime], [CreatedAt]) VALUES (2, 2, CAST(N'2024-10-02' AS Date), CAST(N'08:10:00' AS Time), CAST(N'17:15:00' AS Time), 0, 1, CAST(N'2024-10-05T05:27:07.797' AS DateTime))
INSERT [dbo].[Attendance] ([AttendanceId], [UserId], [AttendanceDate], [CheckInTime], [CheckOutTime], [IsLeave], [IsOvertime], [CreatedAt]) VALUES (3, 2, CAST(N'2024-10-03' AS Date), NULL, NULL, 1, 0, CAST(N'2024-10-05T05:27:07.797' AS DateTime))
SET IDENTITY_INSERT [dbo].[Attendance] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [CreatedAt]) VALUES (1, N'HR', CAST(N'2024-10-05T05:26:54.620' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [CreatedAt]) VALUES (2, N'IT', CAST(N'2024-10-05T05:26:54.620' AS DateTime))
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName], [CreatedAt]) VALUES (3, N'Sales', CAST(N'2024-10-05T05:26:54.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName]) VALUES (2, N'Employee')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Salaries] ON 

INSERT [dbo].[Salaries] ([SalaryId], [UserId], [BaseSalary], [Allowance], [Bonus], [Deduction], [PaymentDate], [Remarks]) VALUES (1, 2, CAST(4000.00 AS Decimal(18, 2)), CAST(300.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(100.00 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Performance Bonus')
INSERT [dbo].[Salaries] ([SalaryId], [UserId], [BaseSalary], [Allowance], [Bonus], [Deduction], [PaymentDate], [Remarks]) VALUES (2, 3, CAST(3500.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), CAST(150.00 AS Decimal(18, 2)), CAST(50.00 AS Decimal(18, 2)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), N'Holiday Bonus')
INSERT [dbo].[Salaries] ([SalaryId], [UserId], [BaseSalary], [Allowance], [Bonus], [Deduction], [PaymentDate], [Remarks]) VALUES (1002, 4, CAST(123.00 AS Decimal(18, 2)), CAST(13.00 AS Decimal(18, 2)), CAST(123132.00 AS Decimal(18, 2)), CAST(312.00 AS Decimal(18, 2)), CAST(N'2024-10-09T21:53:13.533' AS DateTime), N'1')
SET IDENTITY_INSERT [dbo].[Salaries] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [RoleId], [FullName], [DateOfBirth], [Gender], [Address], [PhoneNumber], [DepartmentId], [Position], [Salary], [StartDate], [ProfilePicture], [CreatedAt]) VALUES (2, N'employee1', N'1', 2, N'Jane Employee', CAST(N'1990-07-12' AS Date), 0, N'456 Employee Ave', N'0987654321', 2, N'Developer', CAST(4000.00 AS Decimal(18, 2)), CAST(N'2020-03-15' AS Date), 0x6A0061006E0065002E0070006E006700, CAST(N'2024-10-05T05:26:59.607' AS DateTime))
INSERT [dbo].[Users] ([UserId], [Username], [PasswordHash], [RoleId], [FullName], [DateOfBirth], [Gender], [Address], [PhoneNumber], [DepartmentId], [Position], [Salary], [StartDate], [ProfilePicture], [CreatedAt]) VALUES (3, N'employee2', N'1', 2, N'Alice Worker', CAST(N'1992-11-05' AS Date), 0, N'789 Worker St', N'0123456789', 2, N'Tester', CAST(3500.00 AS Decimal(18, 2)), CAST(N'2019-05-25' AS Date), 0x61006C006900630065002E0070006E006700, CAST(N'2024-10-05T05:26:59.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160B9F2CF0A]    Script Date: 10/10/2024 3:37:58 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E821D0A7]    Script Date: 10/10/2024 3:37:58 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ__Users__536C85E4E821D0A7] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((0)) FOR [IsLeave]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT ((0)) FOR [IsOvertime]
GO
ALTER TABLE [dbo].[Attendance] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [Allowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [Bonus]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT ((0)) FOR [Deduction]
GO
ALTER TABLE [dbo].[Salaries] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF__Users__CreatedAt__2D27B809]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK__Attendanc__UserI__36B12243] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK__Attendanc__UserI__36B12243]
GO
ALTER TABLE [dbo].[Salaries]  WITH CHECK ADD  CONSTRAINT [FK__Salaries__UserId__300424B4] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Salaries] CHECK CONSTRAINT [FK__Salaries__UserId__300424B4]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__Departmen__2C3393D0] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__Departmen__2C3393D0]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleId__2B3F6F97] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleId__2B3F6F97]
GO
